<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>username</param-name>
  <param-value>Payal</param-value>
  </context-param>
  <context-param>
  <param-name>password</param-name>
  <param-value>Payal1</param-value>
  </context-param>
  <servlet>
    <servlet-name>OneJSP</servlet-name>
    <jsp-file>WEB-INF/One.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneJSP</servlet-name>
    <url-pattern>/Index.html</url-pattern>
  </servlet-mapping>
  <jsp-config>
  <jsp-property-group>
  <url-pattern>/welcome.jsp</url-pattern>
  <el-ignored>true</el-ignored>
  </jsp-property-group>
  </jsp-config>
</web-app>