<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Key Points</title>
</head>
<body>
<ul><h3>Session Factory</h3>
<li>Hibernate SessionFactory is the factory class through which we get sessions and perform database operations.</li>
<li>Hibernate SessionFactory provides three methods through which we can get Session object - getCurrentSession(), openSession() and openStatelessSession().</li>
<p>Hibernate SessionFactory getCurrentSession() method returns the session bound to the context. But for this to work, we need to configure it in hibernate configuration file like below.
<property name="hibernate.current_session_context_class">thread</property>
If its not configured to thread, then we will get below exception.

Exception in thread "main" org.hibernate.HibernateException: No CurrentSessionContext configured!
	at org.hibernate.internal.SessionFactoryImpl.getCurrentSession(SessionFactoryImpl.java:1012)
	at com.journaldev.hibernate.main.HibernateSessionExample.main(HibernateSessionExample.java:16)

Since this session object belongs to the hibernate context, we don't need to close it. Once the session factory is closed, this session object gets closed.
</p>
<li>Hibernate Session objects are not thread safe, so we should not use it in multi-threaded environment. We can use it in single threaded environment because it's relatively faster than opening a new session.</li>
<li>Hibernate SessionFactory openSession() method always opens a new session. We should close this session object once we are done with all the database operations.</li>
<li>Hibernate SessionFactory openStatelessSession() method returns instance of StatelessSession. There is another overloaded method where we can pass java.sql.Connection object to get a stateless session object from hibernate.

StatelessSession in Hibernate does not implement first-level cache and it doesn't interact with any second-level cache. Since it's stateless, it doesn't implement transactional write-behind or automatic dirty checking or do cascading operations to associated entities.

Collections are also ignored by a stateless session. Operations performed via a stateless session bypass Hibernate's event model and interceptors. It's more like a normal JDBC connection and doesn't provide any benefits that come from using hibernate framework.

However, stateless session can be a good fit in certain situations. For example where we are loading bulk data into database and we don't want hibernate session to hold huge data in first-level cache memory.</li>

<p>public class HibernateSessionExample {

	public static void main(String[] args) {
		
		SessionFactory sessionFactory = HibernateUtil.getSessionFactory();
		
		//Current Session - no need to close
		Session currentSession = sessionFactory.getCurrentSession();
		
		//open new session
		Session newSession = sessionFactory.openSession();
		//perform db operations
		
		//close session
		newSession.close();
		
		//open stateless session
		StatelessSession statelessSession = sessionFactory.openStatelessSession();
		//perform stateless db operations
		
		//close session
		statelessSession.close();
		
		//close session factory
		sessionFactory.close();
		</p>



</ul>
<ul><h3>Session</h3>

<li> The Session object is lightweight and designed to be instantiated each time an interaction is needed with the database. Persistent objects are saved and retrieved through a Session object.</li>
<li>The session objects should not be kept open for a long time because they are not usually thread safe and they should be created and destroyed them as needed. </li>
<li> Instances may exist in one of the following three states at a given point in time:

   <b> transient:</b> A new instance of a persistent class which is not associated with a Session and has no representation in the database and no identifier value is considered transient by Hibernate.

  <b>  persistent:</b> You can make a transient instance persistent by associating it with a Session. A persistent instance has a representation in the database, an identifier value and is associated with a Session.

   <b> detached:</b> Once we close the Hibernate Session, the persistent instance will become a detached instance.
</li>
</ul>
</body>
</html>