<beans xmlns="http://www.springframework.org/schema/beans" 
 xmlns:context="http://www.springframework.org/schema/context" 
 xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-2.5.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

<aop:aspectj-autoproxy/>
<context:annotation-config/>

<bean id="employee" class="com.java.model.Employee">
<property name="id" value="1"/>
<property name="name" value="Shreya"/>
</bean>
<bean id="teacher" class="com.java.model.Teacher">
<property name="id" value="1"/>
<property name="name" value="Priya"/>
</bean>

<bean id="business" class="com.java.business.MessageProcessor" autowire="byType">
</bean>

<bean id="loggingAspect" class="com.java.services.LoggingNameAspect"/>
</beans>