 <br><br>
 <h2>ActiveMQ Syllabus</h2>
<ul>


  <h4><u><li>Introduction to Messaging</li></u></h4>  
        What is messaging
        What problems does Messaging solve
        What types of Messaging systems exist
   <h4><u><li>  Getting Started with ActiveMQ</li></u></h4>
        What is ActiveMQ
        How is ActiveMQ used in the enterprise
        Downloading and Installing ActiveMQ
        Standard administration: start / test/ monitor / stop
        Basic configuration concepts
  <h4><u><li>   Understanding ActiveMQ</li></u></h4>
        Architecture
        Relation to Java and other technologies
        Key concepts
        Brokers, Transports, and Topologies
  <h4><u><li>   Developing a Basic Solution</li></u></h4>
        Choosing a Topic or a Queue
        Creating a consumer
        Creating a producer
        Running the solution
 <h4><u><li>    Configuration</li></u></h4>
        Required libraries
        Optional libraries
        Configuring Brokers
        Configuring Transports
        Working with an embedded broker
  <h4><u><li>   Working with ActiveMQ Features</li></u></h4>
        Clustering support
        JMX
        JMS to JMS Bridge
        Persistence support
        Security
    <h4><u><li> Integration with other Technologies</li></u></h4>
        C++ / C# / .NET / Java / Python
        Ajax and Web Services
        Frameworks, like Spring
  <h4><u><li>   Performance Tuning</li></u></h4>
        Performance Tuning concepts
        JVM Performance Tuning
        Async publishing
        Defining pre-fetch sizes
        Other tunings
</ul>