<!-- https://docs.angularjs.org/guide -->
 <br><br>
 <h2>AngularJS Syllabus</h2>


<ul>


  <h4><u><li>

Introduction to JavaScript MVC Framework & AngularJS</li></u></h4> 

    Introduction to AngularJS
    Uses of AngularJS
    Introduction to JavaScript MVC Framework
    Write your first program in Angular JS
    Comparison between JavaScript Frameworks

<h4><u><li> Dependency Injection and Controllers</li></u></h4> 

    Creating Controllers
    Two Way Binding
    Sharing data between Controllers
    Inheritance
    Dependency Injection

<h4><u><li> Route, Directive and Filters</li></u></h4> 

    Why use Routes
    Creating Routes
    Nested Routes
    Directives
    Filters
    Creating Directives and Filters

<h4><u><li> Creating Custom Directives and Filters</li></u></h4> 

    Custom Directives
    Why Custom Directives
    Creating and Using Custom Directives
    Custom Filters
    Creating and Using Custom Filters

<h4><u><li> Third Party AngularJS Modules and Testing Angular</li></u></h4> 

    Modules & its necessities
    Usage of angular-ui
    Usage of ng-grid
    Usage of angular-translate and Testing AngularJS

<h4><u><li> AngularJS with Node.js, Yeoman and Rest Exposure</li></u></h4> 

    Introduction to Node.js
    Introduction to Yo Generator
    Bower, Rest Exposure
    Web Sockets and Push Notification

</ul>

<!-- https://docs.angularjs.org/tutorial/step_00 -->