 <br><br>
 <h2>Design Pattern Syllabus</h2>
<ul>

 <h4><u><li>Reviewing Object-Oriented Principles in Java</li></u></h4> 

    Describe how OO concepts apply to Java
    Describe how OO principles apply to Java
    List the goals of an OO language
    Interpret Unified Modeling Language (UML) notation and create UML diagrams
    Identify selected design patterns

 <h4><u><li>Reviewing Gang of Four Patterns</li></u></h4> 

    List key behavioral, creational and structural patterns
    Apply the Facade pattern
    Apply the Strategy pattern
    Apply the Observer pattern
    Apply the Composite pattern
    Review the Model-View-Controller (MVC) patterns

 <h4><u><li>Implementing Patterns in Java</li></u></h4> 

    Use implementation patterns designed for Java
    List forces affecting class, state, and behavioral patterns
    Describe how patterns, idioms and refactoring differ from each other

 <h4><u><li>Exploring Changes in Java EE Technology</li></u></h4> 

    Describe the design goals of the Java EE model
    Describe improvements in the Java EE 6 model

 <h4><u><li>Implementing Integration Patterns</li></u></h4> 

    Describe design patterns for the integration tier
    Review Java EE integration changes that apply design patterns
    Identify use cases for applying integration tier patterns

 <h4><u><li>Implementing Patterns in Business Components</li></u></h4> 

    Describe the role of an enterprise bean
    Describe design patterns for the business tier

 <h4><u><li>Implementing Infrastructural Patterns in Java EE</li></u></h4> 

    Describe the role of infrastructural Java EE patterns
    Describe the Service Starter pattern
    Describe the Singleton pattern
    Describe the Bean Locator pattern
    Describe the Resource Binder pattern

 <h4><u><li>Implementing More Infrastructure Patterns</li></u></h4> 

    Describe how Java EE interceptors work
    Describe the Dependency Injection Extender pattern
    Describe the Payload Extractor pattern
    Describe the Context Holder pattern
    Describe the Thread Tracker pattern

 <h4><u><li>Exploring Anti-Patterns</li></u></h4> 

    Describe the Law of Leaky Abstractions
    Define AntiPatterns
    Describe Integration Tier AntiPatterns
    Describe Business Tier AntiPatterns
    Describe Presentation Tier AntiPatterns

 <h4><u><li>Selecting Patterns for Architecture</li></u></h4> 

    Define the roles of architect, designer, and developer
    Describe the relationship between design patterns and architecture
    List guidelines for applying patterns to an architectural solution
    
    </ul>