  <br><br>
 <h2>Enterprise Development Using EJBs</h2>
 <ul>

<h4><li><u>
 
 Introduction to Java EE</u></li></h4>

    Gain an understanding of the Java Platform, Enterprise Edition (Java EE)
    Examine the Java EE application architecture
    Examine Java EE container services
    Examine the EJB component types
    Evaluate the EJB Lite Container
    Compare Java EE application development with traditional enterprise application development

<h4><li><u>Implementing Session Beans</u></li></h4>

    Examine session beans
    Identify the three types of session beans
    Choose the correct session bean type given a business constraint
    Create session beans Package and deploy session beans

<h4><li><u>Accessing Session Beans</u></li></h4>

    Understand the purpose and role of JNDI in relation to EJB components
    Configure JNDI environment properties
    Use JNDI to look up a resource
    Write code that receives a resource reference through injection
    Create a session bean client
    Create a session facade
    Use dependency injection to locate an EJB

<h4><li><u>Advanced Session Bean Concepts</u></li></h4>

    Understand the relationship between the EJB container and an EJB component
    Describe the life cycle for stateless and stateful session beans
    Implement session bean life cycle methods
    Use a session bean to perform asynchronous communication
    Have fine-grained control over packaging and deployment

<h4><li><u>Singleton Session Bean</u></li></h4>

    Understand the advantages and disadvantages of using a singleton session bean
    Create a singleton session bean
    Describe the life cycle of a singleton session bean
    Implement singleton session bean life cycle methods
    Describe singleton concurrency access
    Implement a concurrency management strategy

<h4><li><u>Developing Java EE Applications Using Messaging</u></li></h4>

    Review JMS technology
    Describe the roles of the participants in the JMS API messaging system
    Create a queue message producer
    Create a synchronous message consumer

<h4><li><u>Developing Message-Driven Beans</u></li></h4>

    Understand the short-comings of using session beans as messaging consumers
    Describe the properties and life cycle of message-driven beans
    Create a JMS message-driven bean
    Create life cycle event handlers for a JMS message-driven bean
    Configure a JMS message-driven bean

<h4><li><u>Using Timer ServicesObjectives</u></li></h4>

    Describe timer services
    Create a timer notification callback
    Process a timer notification callback Manage timer objects

<h4><li><u>Implementing Interceptor Classes and Methods</u></li></h4>

    Describe interceptors and interceptor classes
    Create a business interceptor method in the enterprise bean class
    Create an interceptor class
    Associate multiple business interceptor methods with an enterprise bean
    Include life cycle callback interceptor methods in an interceptor class

<h4><li><u>Implementing Transactions</u></li></h4>

    Describe transaction demarcation management
    Implement CMT
    Interact programmatically with an ongoing CMT transaction
    Implement BMT Apply transactions to messaging

<h4><li><u>Implementing Security</u></li></h4>

    Understand the Java EE security architecture
    Authenticate the caller Examine Java EE authorization strategies
    Use declarative authorization
    Use programmatic authorization Examine the responsibilities of the deployer

<h4><li><u>Using EJB Technology Best Practices</u></li></h4>

    Define best practices and state the benefits of using EJB technology best practices
    Select and apply known patterns to Java EE application design
    Incorporate effective exception handling into your Java EE application design

Package and Deploy EJB applications
 
Perform EJB Exception Handling
 </ul>
 
 
 
 <!-- 
    Introduction
    Comparison between different Distributed tech(EJB, CORBA, COM/DCOM)
    EJB Architecture
    EJB Container
    Stateless Session Bean
    Statefull Session Bean
    Bean Managed Entity Bean (Container Managed Entity Bean, Bean Managed Security)
    Container Managed Security
    Bean Managed Transactions
    Container Managed Security
    Bean Managed Transactions
    Container Managed Transactions
    Clusters
    Using JDBC Connection Pool in EJB

EJB 2.0

    Local Enterprise Beans
    CMP2.0 model – Container Managed Persistency
    EJBQL – EJB Query Language
    EJB Select Methods
    Finder Methods with EJBQL
    CMR – Container Manager Relationships
    MDB-Message Driven Bean

EJB 2.1

    Enhancements to EJB –QL
    Timer Service
    Web services Support to SLSB

EJB 3.0

    Introduction to EJB 3.0
    Architecture of EJB 3.0
    Session Beans in EJB 3.0
    Stateless Session Bean
    Stateful Session Bean
    Entity Components + JPA 1.0
    Simplified packagingin on context dependency injection (CDI)
    JPA-Java persistence API
    Relations with Entites
    one-to-one
    one-to-many
    many-to-one,
    many-to-many
    inheritance with Entities
    JPQL-Java Persistance Query Language
    Message Driven Bean in EJB 3.0
    Transaction with EJB 3.0
    AOP in EJB 3.0
    AOP – Aspect oriented programming
    Exposing EJB 3.0
    Stateless Session Bean as Web Service

EJB 3.1

    Introduction of 3.1
    Removal of local business interface
    Introduction of singletons
    Asynchronous Session Beans
    Embeddable API forexecuting EJB in Java SE env
  -->