<br><br>
<h2 >Java 7 New Features</h2>
<ul>

<h4><li><u>Language Enhancements</u></li></h4>

    Strings in Switch
    The try-with-resources Statement
    Type inference for generic instance creation
    Implemeting binary literals
    Catching multiple exception types and rethrowing exceptions with improved type checking
    Improved varargs method invocations

<h4><li><u>Core Technologies Enhancements</u></li></h4>

    Support for dynamically-typed languages
    Enhancements in the class-loader architecture
    Enhancement in the swing package
    Optimized Java2D rendering
    Enhancement in the XML stack
    Collections framework enhancements
    Concurrency utilities enhancements
    Support for JDBC 4.1 and RowSet 1.1

<h4><li><u>I/O and Network Enhancements</u></li></h4>

    New APIs for file system access
    The java.nio.file package
    Describe Stream Control Transmission Protocol
    Describe Sockets Direct Protocol
    Use the Windows Vista IPv6 stack 
    </ul>
