 <br><br>
 <h2>Web Development Using JSP , Servlets</h2>
 <ul>

<h4><li><u>
 Introduction to Java Servlets</u></li></h4>

    Describe web applications, CGI, and the role of Java
    Describe benefits of Java servlet technology
    Create a simple Java Servlet
    Define three-tier architecture
    Define Model-View-Controller (MVC) architecture

<h4><li><u>Introduction to Java Server Pages</u></li></h4>

    Describe why Servlets are not the whole solution
    Describe essentials of JSPs
    Understand the fundamentals and reasons for MVC architecture

<h4><li><u>Implementing an MVC Design</u></li></h4>

    Code a controller using a servlet
    Code a view using a JSP
    Forward control from a servlet to a JSP
    Understand fundamentals of EL
    Implement a simple MVC system

<h4><li><u>The servlet's environment</u></li></h4>

    Understand more details of the HTTP protocol
    Understand fundamentals of HTML forms
    Understand fundamentals of the HttpServlet and related APIs
    Write code that manages client sessions and cookies

<h4><li><u>Container facilities for servlets and JSPs</u></li></h4>

    Understand the purpose and structure of deployment descriptors
    Control context root and servlet mapping
    Create and use context and init parameters
    Use annotations to configure servlets

<h4><li><u>More view facilities</u></li></h4>

    Understand the four data scopes
    Understand and use EL dot and array access operators with Java Beans, arrays, and collections
    Understand and use EL implicit objects
    Create and use arithmetic expressions in EL
    Identify the need for iteration and selection in the view, and use JSTL tags to address those needs

<h4><li><u>Developing JSP pages</u></li></h4>

    Understand the origins, benefits, and weaknesses of JSPs
    Describe JSP technology, the conversion of JSPs to servlets, and the lifecycle of JSPs
    Understand JSP scripting elements, declarations and directives
    Use JSP implicit variables
    Understand and use jsp: tags

<h4><li><u>Developing JSP pages using custom tags</u></li></h4>

    Relate the JSTL to common job roles in web application development and understand the use of tags in JSP development
    Recognize correct syntax for tags
    Configure a JSP to use tags from the JSTL
    Write JSP code using several standard tags
    List capabilities of JSTL tags/span>

<h4><li><u>More Controller facilities</u></li></h4>

    Understand the servlet lifecycle
    Describe and use more advanced elements of the servlet APIs
    Create filters and use them in web applications

<h4><li><u>More options for the Model</u></li></h4>

    Understand the roles of JDBC and JPA
    Understand the many elements that make up the model
    Understand fundamentals of connecting to a database using JDBC or JPA

<h4><li><u>Asynchronous web applications</u></li></h4>

    Understand the interactions that are essential to asynchronous web pages
    Understand the role of AJAX-style client side programming
    Implement asynchronous servlets using the facilities of Java EE 6

<h4><li><u>Web application security</u></li></h4>

    Understand the role of the container in security
    Describe and implement four authentication models
    Force the use of encryption between a web application and the client browser
    Understand the role of JAAS in pluggable/extensible authentication for web applications

    </ul>