<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Animation</title>
<script type="text/javascript" src="scripts/angular.min.js"></script> 
<script type="text/javascript" src="scripts/angular-animate.min.js"></script>
<script>
angular.module("myApp", ['ngAnimate']).controller("myController", function($scope){
$scope.employees= ["asha", "anne", "priya", "shweta", "shikha"];
});
</script>
<style>
.animate.ng-enter, .animate.ng-leave{
transition:  all 500ms cubic-bezier(.9,.03,.73,-0.78) 0s
}
 .animate.ng-leave, .animate.ng-leave-active{
 opacity: 0;
 }
 
 .animate.ng-enter,.animate.ng-enter-active{
 opacity: 1;
 }
</style>
</head>
<body ng-controller="myController">
<input type="text" placeholder="Search .." ng-model="search">
<ul>
<li class="animate" ng-repeat="employee in employees| filter: search">{{employee}}</li>
</ul>


</body>
</html>