<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>MVC</title>
<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript">
angular.module("myModule",[]).controller("myController", function() {
	this.myLanguage= "None";
	this.selectLanguage= function(language){
	this.myLanguage= language;
	}
})

</script>

</head>
<body>
<div  ng-controller="myController as myCtrl">
Select your favourite language: 
<button ng-click="myCtrl.selectLanguage('PHP')">PHP</button>
<button  ng-click="myCtrl.selectLanguage('Java')">Java</button>
<button  ng-click="myCtrl.selectLanguage('C')">C</button>
<button  ng-click="myCtrl.selectLanguage('C++')">C++</button>
<button  ng-click="myCtrl.selectLanguage('VB')">VB</button>

<br>

You have selected {{myCtrl.myLanguage}}
</div>
</body>
</html>