.header{
	width: 800px;
	height:80px;
	text-align: center;
	background-color: aqua;
}

.footer{
	width: 800px;
	height:80px;
	text-align: center;
	background-color: aqua;
}

.leftMenu{
	height: 500px;
	background-color: fuchsia;
	width: 150px;
}

.rightMenu{
	height: 500px;
	background-color: yellow;
	width: 650px;
}