* {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

header, nav, section, aside, footer {
	display: block;
}

body {
	background-image: url("../images/backgroundImage.jpg");
	background-repeat: repeat;
	margin: 0px auto;
	width: 1000px;
}

li {
	display: inline-block;
	text-decoration: none;
	color: black;
	/* float: left; */
	padding: 20px;
	}

.clear {
	clear: both;
}



section {
	float: left;
	width: 700px;
}

aside {
	float: left;
	width: 300px;
}

footer {
	clear: both;
}

#nav img {
	height: 80px;
	width: 80px;
	border: 2px double black;
	background-color: rgb(0, 176, 88);
	cursor: pointer;
	border-radius: 10px;
	margin: 10px;
}
/* 
#login {
	background-color: rgb(21, 4, 4);
	margin: 0px;
	height: 15px;
	padding: 20px;
	vertical-align: 50%;
	position: relative;
}

#login a {
	text-align: center;
	padding: 5px;
	font-family: sans-serif;
	color: white;
	margin: 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 2px hidden black;
}

#login a:nth-child(even) {
	position: absolute;
	left: 80%;
}

#login a:nth-child(odd) {
	position: absolute;
	left: 85%;
}

#login a:hover {
	background-color: black;
}

#login span {
	text-shadow: 3px 3px 20px rgb(72,145,145);
	font-size: 25px;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	position: absolute;
	left: 25%;
	pointer: cursor;
}



#nav {
	margin: 20px;
		width: 150px;
	margin-right: 40px;
	float: right;
}

img{
	overflow-style: auto;
	marquee-style: alternate;
	marquee-speed: fast;
	marquee-play-count: infinte;	
	marquee-direction: forward;
}
#main {
	margin: 20px;
	font-size: 20px;
	font-family: sans-serif;
}

footer {
	padding: 20px;
	font-size: 20px;
	font-family: sans-serif;
}



.image:HOVER {
	height: 160px;
	width: 160px;
	background-color: rgb(0, 128, 128);
}

table {
	font-family: Arial;
	width: 600px;
}

td {
	border: 1px black;
	padding: 5px;
}

th {
	border: 1px solid black;
	padding: 5px;
	text-align: left;
}

.heading {
	color: red;
}

.inputText {
	width: 400px;
}

#contactUs {
	color: blue;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	width: 300px;
	margin: 5px;
	padding: 10px;
	border-style: dashed;
	height: 100px;
	margin-top: 100px;
	margin-left: 400px;
}

.TopHeading {
	color: olive;
}

#feeDetails {
	width: 600px;
}

h2 {
	color: black;
	height: 100px;
	font-family: sans-serif;
	font-weight: bolder;
}

marquee {
	color: rgb(109, 16, 82);
}

article {
	width: 600px;
	margin: 5px;
	padding: 10px;
	float: left;
}

p {
	color: red;
}

input, textarea {
	width: 200px;
}

.animate.ng-enter, .animate.ng-enter-active {
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
} */