 <beans xmlns="http://www.springframework.org/schema/beans" 
 xmlns:context="http://www.springframework.org/schema/context" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd" >

<context:annotation-config/>
<!-- To activate all annotations -->
<context:component-scan base-package="springDev.java.com.day2"/>
<!-- <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
<property name="staticMethod">
<value>springDev.java.com.day2.Dao3.setName</value>
</property>
<property name="arguments">
<list>
<value>Andi</value>
<value>23</value>
</list>
</property>
</bean> -->

<!-- <bean id="e1" class="springDev.java.com.day2.Dao3" factory-method="hello1"/> -->
<!-- <bean id="car" class="springDev.java.com.day2.Dao3"/> -->
</beans>