 <br><br>
 <h2>Apache Camel Syllabus</h2>
<ul>


<h4><u><li>    Agenda</li></u></h4>  
    Enterprise Integration Patterns
    What is camel?

<h4><u><li>Getting started</li></u></h4>  

    Architecture overview
    Concepts and terminology
    Quick start

<h4><u><li>Routing</li></u></h4>  

    Endpoints
    Creating routes
    Routing using EIP patterns
        Content routing
        Filtering
        Multicast
        Recipient lists
        Wire tap

<h4><u><li>Transformation</li></u></h4>  

    Overview
    EIP based transformation
    Xml transformation
    Transforming between data formats
    Transformation templates
        CSV
        Bindy
        JSON
        Custom format
    Type converters

<h4><u><li>Using beans</li></u></h4>  

    Invoking beans
    Service activators
    Bean registries
    Method selection
    Binding parameters

<h4><u><li>Error handling</li></u></h4>  

    Error types and severity
    Camels approach to error handling
    Redelivery
    Exception policies
    Extra features

<h4><u><li>Unit testing Camel</li></u></h4>  

    Camel’s Test Kit
    Mocking
    Simulation of error conditions

<h4><u><li>Components</li></u></h4>  

    Overview
    Using files and FTP
    Using JMS
    Using Web Services
    Using databases
    Using TCP
    Transient messaging
    Scheduling

<h4><u><li>Enterprise Integration patterns</li></u></h4>  

    Aggregators
    Splitters
    Routing slips
    Dynamic routing
    Load balancing

<h4><u><li>Transactions</li></u></h4>  

    Rationale
    Adding transaction support
    Local vs global transactions
    Transaction configuration

<h4><u><li>Concurrency</li></u></h4>  

    Thread pooling
    Concurrency with EIP
    Concurrency using Java
    Synchronization
    Scalability using asynchronous processing

<h4><u><li>Monitoring and administration</li></u></h4>  

    Monitoring camel applications
    Using JMX
    Monitoring activity level
    Administration of camel applications

<h4><u><li>Advanced camel deployment</li></u></h4>  

    The camel engine lifecycle
    Adding routes dynamically
    Deployment options

<h4><u><li>Bean routing and remoting</li></u></h4>  

    Annotation based routing
    Using remoting

</ul>