 <br><br>
 <h2>JMS Syllabus</h2>
<br>



What is JMS API?

JMS API in the JavaEE Platform

JMS API Architecture

JMS Provider

JMS Clients

Messages

Administrated Objects

JMS Messaging Styles

Point to Point Messaging Style

Publish/Subscrie Messaging Style

Message Consumption

The JMS API Programming Model

JMS Administrated Objects

JMS Connection Factories

JMS Destination

Simple Producer Program

Simple Consumer Program

Connection

Session

JMSContext Object

JMS Message Producers

JMS Message Consumers

The receive Method

The start & stop Method

JMS Message Listeners

JMS Message Selectors

Consuming Messages from Topics

Sending Messages to Topics

Message Distribution

Subscriptions

Creating Durable Subscriptions

Durable Unshared Subscription

Setting Client ID

Shared Durable Subscription

Non Durable Unshared Subscription

Non Durable Shared Subscription

JMS Message Headers

Summary

Lab Activities


Message Driven Bean


Objectives

JMS API in JavaEE Applications

Creating Resources for JavaEE Applications

@JMSDestinationDefinition

@JMSConnectionFactoryDefinition

Portable JNDI Namespaces

java:global

java:app

java:module

java:comp

Message Driven Bean

The Lifecycle of a Message Driven Bean

MDB Class Requirements

MDB Class

@MessageDriven Annotation

Creating MDB using IDE

Final Program of Message Driven Bean

