 <br><br>
 <h2>JPA Syllabus</h2>
<ul>
 <h4><u><li>Overview of the Java Persistence API</li></u></h4> 

    Describe the basics of Object Relational Mapping (ORM)
    Define the key concepts of the Java Persistence API (entity, entity manager, and persistence unit)

 <h4><u><li>Introducing the Auction Application</li></u></h4> 

    Describe the auction application
    Define the domain objects of the auction application
    Describe the implementation model for the auction system

 <h4><u><li>Java Persistence API Entities</li></u></h4> 

    Describe the difference between objects and entities
    Describe the difference between persistent fields and properties
    Identify and use common Java Persistence API annotations, such as @Entity, @Id, @Table, and @Column

 <h4><u><li>Understanding the Entity Manager</li></u></h4> 

    Describe the relationship between an entity manager, a persistence context, and a persistence unit
    Describe the difference between a container-managed entity manager and an application-managed entity manager
    Describe the entity life cycle

 <h4><u><li>Modeling Entity Relationships</li></u></h4> 

    Examine association relationships in the data and object models
    Use relationship properties to define associations
    Implement one-to-one unidirectional associations
    Implement one-to-one bidirectional associations
    Implement many-to-one/one-to-many bidirectional associations
    Implement many-to-many bidirectional associations
    Implement many-to-many unidirectional associations
    Examine fetch and cascade mode settings

 <h4><u><li>Entity Inheritance and Object-Relational Mapping</li></u></h4> 

    Examine entity inheritance
    Examining object/relational inheritance hierarchy mapping strategies
    Inherit from an entity class
    Inherit using a mapped superclass
    Inherit from a non-entity class
    Examine inheritance mapping strategies
    Use an embeddable class

 <h4><u><li>Persisting Enums and Collections</li></u></h4> 

    Persist entities that contain enums with @Enumerated
    Persist entities that contain lists with @ElementCollection
    Persist entities that contain maps with @ElementCollection

 <h4><u><li>Introduction to Querying</li></u></h4> 

    Find an Entity by its primary key
    Understand basic Java Persistence API query language queries
    Understand native SQL queries
    Understand basic Criteria API queries

 <h4><u><li>Using the Java Persistence API Query Language</li></u></h4> 

    Examine the Java Persistence API query language
    Create and use the SELECT statement
    Create and use the UPDATE statement
    Create and use the DELETE statement

 <h4><u><li>Using the Java Persistence API Criteria API</li></u></h4> 

    Contrast queries that use the Criteria API with queries that use the Java Persistence query language
    Describe the metamodel object approach to querying
    Create Criteria API queries

 <h4><u><li>Using the Java Persistence API in a Container</li></u></h4> 

    Use the Java Persistence API from a servlet
    Use the Java Persistence API from a stateless session bean

 <h4><u><li>Implementing Transactions and Locking</li></u></h4> 

    Describe the transaction demarcation management
    Implement container-managed transactions (CMT)
    Interact programmatically with an ongoing CMT transaction
    Implement bean-managed transactions (BMT)
    Apply transactions to the Java Persistence API

 <h4><u><li>Advanced Java Persistence API Concepts</li></u></h4> 

    Specify composite primary keys
    Override mappings with the @AttributeOverride and @AssociationOverride annotations
    Understand entity listeners and callback methods
</ul>