<br><br>
<h4><u>Spring Syllabus</u></h4>

Introduction to Spring Framework<br>
Inversion of Control and Dependency Injection<br>
IOC Container<br>
Bean Creation<br>
Construction Injection<br>
Setter Injection<br>
Auto Wiring<br>
Bean Initialization and Destruction<br>
Aware interfaces: BeanNameAware, BeanFactoryAware<br>
Lookup Method Injection<br>
Use of ApplicationContext<br>
ResourceBundleMessageResource<br>
Events and Event Handling<br>
Aspect Oriented Programming (AOP)<br>
Introduction to AOP<br>
Implementation of JDK dynamic proxy<br>
ProxyFactoryBean and Advices<br>
Applying Advices: Before,After,Around and AfterThrowing<br>
Using PointCut and Advisor for fine grain control of advices<br>
Spring Web MVC<br>
MVC Architecture<br>
Front Controller and DispatcherServlet<br>
Spring Controller<br>
Context Configuration<br>
View Resolution<br>
InternalResourceViewResolver<br>
Stereotype Controllers<br>
Request mapping by annotations<br>
Path Variables<br>
Handler method parameters<br>
Handler method return types<br>
Command beans and working with forms<br>
Binding results and errors<br>
Other Controller annotations<br>
Other View resolvers<br>
Exception Handling<br>
JDBCTemplate<br>
Introduction to Template Design Pattern<br>
Applicability of Template in JDBC<br>
JDBCTemplate class<br>
DataSource Configuration<br>
Dao Support<br>
Transactions<br>

    Transaction Manager
    IDeclarative Transactions
    Transaction attributes
    Transaction Annotations
    Transaction Template
    
    
<!--     https://spring.io/projects -->